@mixin body-copy {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
}

@mixin hwt {
  font-family: "hwt-american-shopworn";
}

@mixin hwt-slab {
  font-family: "hwt-slab-columbian", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin mainBG {
  background: #ddd; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffffff),
    color-stop(100%, #dddddd)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #dddddd 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ffffff 0%,
    #dddddd 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); /* W3C */
}

@mixin text-shadow($color) {
  text-shadow: 0 1px 0 $color;
}

@mixin breakWords {
  -ms-word-break: break-all;

  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* //////////////////////////
BREAKPOINTS

Usage:
	@include breakpoint(breakpointname) {
		your rules
	}
////////////////////////// */

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1366px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 769px) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 480px) {
      @content;
    }
  }
}
