/* Colors! */
$red: #d61c38; // pantone 199 c
$darkRed: #8b2317;
$gold: #857345; // pantone 871 c
$dark-gold: darken($gold, 16%);
$green: #cbe4b7;

$light-gray: #ddd;
$gray: #555;

$margin: 1rem;

$transition: all 0.5s ease-out;
