/* Artist Page Stuff */
.page-template-page-artist {
  article {
    padding-bottom: 1rem;

    header {
      display: table;
      width: 100%;
      height: 12rem;

      background-image: url(images/artist-headers/joey_vernon.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      h1 {
        color: white;
        @include hwt;
        @include font-size(32px);
        line-height: 1em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

        @include breakpoint(tablet) {
          @include font-size(48px);
        }
      }
    } /* /artist header */

    /* ////////////////
		Bio
		//////////////// */
    #bio {
      position: relative;
      padding: $margin $margin 0 $margin;

      .wp-post-image {
        float: right;
        margin: 0 0 10px 10px;
        overflow: hidden;
        border: 5px solid white;
        box-shadow: 0 0 5px rgba(black, 0.125);

        @include breakpoint(tablet) {
          float: left;
          margin: 0 10px 10px 0;
        }
      }

      // Instagram links
      [href*="instagram.com"] {
        position: absolute;
        top: -2rem;
        left: $margin;

        display: block;
        width: 1.75rem;
        height: 1.75rem;
        overflow: hidden;

        background: $darkRed url(images/instagram.svg) center no-repeat;
        background-size: cover;
        text-indent: 100%;

        @include breakpoint(laptop) {
          left: 0;
        }
      }

      @include breakpoint(phablet) {
      }

      @include breakpoint(tablet) {
        float: left;
        width: 40%;
      }

      @include breakpoint(laptop) {
        width: 35%;
        margin-left: 5%;
        padding-left: 0;
      }

      @include breakpoint(desktop) {
      }

      p:first-child {
        @include hwt-slab;
        color: $dark-gold;
        @include font-size(16px);
      }
    }

    /* ////////////////
		Portfolio
		//////////////// */
    #portfolio {
      margin: $margin 0;
      padding: 0 0.5rem;

      @include breakpoint(tablet) {
        float: right;
        width: 60%;
      }

      @include breakpoint(laptop) {
        width: 55%;
        margin-right: 5%;
      }

      a {
        display: block;
        float: left;
        width: 33.333%;
        padding: 0.5rem;
        line-height: 0;

        &:first-child {
          /*width: 100%;*/
        }

        @include breakpoint(phablet) {
          width: 25%;
        }

        @include breakpoint(tablet) {
          width: 20%;
        }

        @include breakpoint(desktop) {
          width: 16.6666%;
        }

        img {
          width: 100%;
          min-width: 100%;
          height: auto;

          margin: 0;
          padding: 0;
          transition: $transition;
        }

        &:hover {
          img {
          }
        }
      }
    } /* /.portfolio */
  } /* /article */
} /* /Artist Page Stuff */
