/* 12-Column Grid System */
$columns: 12;

@function grid-width($cols) {
   @return calc((99.999% / #{$columns}) * #{$cols});
}

/* 	For 3 columns add:
	"width: grid-width(4);"

	For 4 add:
	"width: grid-width(3);"
*/

/* Font Sizing */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}